<style>
    md-dialog{
        min-width: 40rem;
    }
</style>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#!apps/dashboard">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fab fa-connectdevelop"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Connect 2 Deploy</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="#!apps/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo"
               data-toggle="collapse" href="javascript:void(0);">
                <i class="fas fa-fw fa-cog"></i>
                <span>Apps</span>
            </a>
            <div aria-labelledby="headingTwo" class="collapse show" data-parent="#accordionSidebar" id="collapseTwo">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Settings:</h6>
                    <a class="collapse-item" href="#!apps/dashboard/createApp">Manage Apps</a>
                    <a class="collapse-item active" href="#!apps/dashboard/scheduledDeployments">Scheduled Deployments</a>
                </div>
            </div>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="javascript:void(0);" id="searchDropdown" role="button">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div aria-labelledby="searchDropdown"
                             class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input aria-describedby="basic-addon2" aria-label="Search"
                                           class="form-control bg-light border-0 small" placeholder="Search for..."
                                           type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="javascript:void(0);" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
                            <img class="img-profile rounded-circle" src="{{avatar_url}}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="javascript:void(0);">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab>
                            <md-tab-label>
                                <h6>Deployment Jobs</h6>
                            </md-tab-label>
                            <md-tab-body>
                                <md-content class="md-padding">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <div class="row">
                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                    <h6 class="m-0 font-weight-bold text-primary text-lg">Deployment Schedule Dashboard</h6>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                    <button class="btn btn-primary" ng-click="createNewJob($event)" type="button">Create New Job...</button>
                                                    <md-button class="md-fab md-primary md-mini" aria-label="Refresh" ng-click="fetchAllJobs()">
                                                        <md-icon md-svg-src="../images/refresh-24px.svg"></md-icon>
                                                    </md-button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div ng-show="!scheduledJobsList.length" style="font-weight: 900;">No Scheduled Jobs added, click 'Create New Job to add one...</div>

                                            <table class="table table-striped table-bordered table-hover" ng-show="scheduledJobsList.length > 0">
                                                <thead>
                                                <tr>
                                                    <th ng-repeat="header in tableHeaders" class="scheduledJob">{{header}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr dir-paginate="eachData in scheduledJobsList|filter:search|itemsPerPage:20">
                                                    <td hidden>{{eachData.id}}</td>
                                                    <td>{{eachData.createdBy}}</td>
                                                    <td>{{eachData.jobName}}</td>
                                                    <td>{{eachData.orgUserEmail}}</td>
                                                    <td>{{eachData.startTimeRun | date:"dd/MMM/yyyy HH:mm a"}}</td>
                                                    <td>{{eachData.lastTimeRun}}</td>
                                                    <td>
                                                        <div ng-show="eachData.status === 'running'" class="{{eachData.status}}">
                                                            <svg height="50" width="50" class="blinking">
                                                                <circle class="{{eachData.status}}" cx="25" cy="25" r="10"></circle>
                                                            </svg>
                                                        </div>
                                                        <div ng-show="eachData.status === 'finished' || eachData.status === 'notStarted'" class="{{eachData.status}}">
                                                            <svg height="50" width="50">
                                                                <circle class="{{eachData.status}}" cx="25" cy="25" r="10"></circle>
                                                            </svg>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 float-left">
                                                                    <md-switch ng-disabled="{{eachData.executed}}" class="md-primary" ng-change="onStatusChange(eachData)" ng-model="eachData.boolActive"></md-switch>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-4">
                                                                <i aria-hidden="true" class="fa fa-trash trashIcon" ng-click="deleteJob(eachData)" style="cursor: pointer;color: #af3232"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </md-content>
                            </md-tab-body>
                        </md-tab>

                        <md-tab>
                            <md-tab-label>
                                <h6>Unit Testing Jobs</h6>
                            </md-tab-label>
                            <md-tab-body>
                                <md-content class="md-padding">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <div class="row">
                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                    <h6 class="m-0 font-weight-bold text-primary text-lg">Unit Testing Schedule Dashboard</h6>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                    <button class="btn btn-primary" ng-click="createNewJobTesting($event)" type="button">Create New Job...</button>
                                                    <md-button class="md-fab md-primary md-mini" aria-label="Refresh" ng-click="fetchAllJobs()">
                                                        <md-icon md-svg-src="../images/refresh-24px.svg"></md-icon>
                                                    </md-button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div ng-show="!scheduledJobsUnitTestList.length" style="font-weight: 900;">No Scheduled Testing Jobs added, click 'Create New Job to add one...</div>

                                            <table class="table table-striped table-bordered table-hover" ng-show="scheduledJobsUnitTestList.length > 0">
                                                <thead>
                                                <tr>
                                                    <th ng-repeat="header in tableHeaders" class="scheduledJob">{{header}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr dir-paginate="eachData in scheduledJobsUnitTestList|filter:search|itemsPerPage:20">
                                                    <td hidden>{{eachData.id}}</td>
                                                    <td>{{eachData.createdBy}}</td>
                                                    <td>{{eachData.jobName}}</td>
                                                    <td>{{eachData.orgUserEmail}}</td>
                                                    <td>{{eachData.startTimeRun | date:"dd/MMM/yyyy HH:mm a"}}</td>
                                                    <td>{{eachData.lastTimeRun}}</td>
                                                    <td>
                                                        <div ng-show="eachData.status === 'running'" class="{{eachData.status}}">
                                                            <svg height="50" width="50" class="blinking">
                                                                <circle class="{{eachData.status}}" cx="25" cy="25" r="10"></circle>
                                                            </svg>
                                                        </div>
                                                        <div ng-show="eachData.status === 'finished' || eachData.status === 'notStarted'" class="{{eachData.status}}">
                                                            <svg height="50" width="50">
                                                                <circle class="{{eachData.status}}" cx="25" cy="25" r="10"></circle>
                                                            </svg>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 float-left">
                                                                    <md-switch ng-disabled="{{eachData.executed}}" class="md-primary" ng-change="onStatusChange(eachData)" ng-model="eachData.boolActive"></md-switch>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                            <md-button class="md-fab md-primary md-mini" aria-label="Refresh" ng-click="runUnitTest(eachData)">
                                                                <md-icon md-svg-src="../images/play_arrow-24px.svg"></md-icon>
                                                            </md-button>
                                                            </div>
                                                            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 mt-3">
                                                                <i aria-hidden="true" class="fa fa-trash trashIcon" ng-click="deleteJob(eachData)" style="cursor: pointer;color: #af3232"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </md-content>
                            </md-tab-body>
                        </md-tab>

                    </md-tabs>
                </md-content>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Connect2Deploy 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" data-href="#page-top" href="javascript:void(0);">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Logout Modal-->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <a class="btn btn-primary" href="javascript:void(0);" ng-click="logoutFunction();">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="sessionExpiredModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sessionExpiredModalLabel">Session Expired</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Login again to proceed.</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="javascript:void(0);" ng-click="logoutFunction();">Logout</a>
                </div>
            </div>
        </div>
    </div>

</div>