<md-dialog aria-label="Add Scheduled Job">
    <form name="scheduledJobUnitTestForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Scheduled Job</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="../images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-xs="column" layout-md="column" layout-gt-md="column" layout-xs="column">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Job Name</label>
                        <input class="form-control" ng-model="scheduledTestingJob.jobName" required>
                        <input ng-model="scheduledTestingJob.connect2DeployUserEmail" type="hidden">
                        <input ng-model="scheduledTestingJob.connect2DeployUserId" type="hidden">
                        <input ng-model="scheduledTestingJob.orgUserEmail" type="hidden">
                        <input ng-model="scheduledTestingJob.type" type="hidden">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>SFDC Connection</label>
                        <md-select ng-model="scheduledTestingJob.sfdcConnection" required ng-change="onSFDCConnectionChange(scheduledTestingJob.sfdcConnection)">
                            <md-option ng-value="">--None--</md-option>
                            <md-option ng-repeat="eachsfdcconnection in scheduledTestingJob.sfdcConnections" ng-value="eachsfdcconnection.id">
                                {{eachsfdcconnection.orgName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Threshold</label>
                        <input required type="number" step="any" name="threshold" ng-model="scheduledTestingJob.threshold" min="1" max="100"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Time</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-append-to-body="true" required="true" data-ng-model="scheduledTestingJob.startTimeRun">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="scheduledTestingJob.startTimeRun"
                                                data-before-render="startDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                            </ul>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-disabled="scheduledJobUnitTestForm.$invalid" ng-click="saveScheduleJob(scheduledTestingJob)">
                Save
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>