<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#!apps/dashboard">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fab fa-connectdevelop"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Connect 2 Deploy</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="#!apps/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo"
               data-toggle="collapse" href="javascript:void(0);">
                <i class="fas fa-fw fa-cog"></i>
                <span>Apps</span>
            </a>
            <div aria-labelledby="headingTwo" class="collapse show" data-parent="#accordionSidebar" id="collapseTwo">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Settings:</h6>
                    <a class="collapse-item active" href="#!apps/dashboard/createApp">Manage Apps</a>
                    <a class="collapse-item" href="#!apps/dashboard/scheduledDeployments">Scheduled Deployments</a>
                </div>
            </div>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="javascript:void(0);" id="searchDropdown" role="button">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div aria-labelledby="searchDropdown"
                             class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input aria-describedby="basic-addon2" aria-label="Search"
                                           class="form-control bg-light border-0 small" placeholder="Search for..."
                                           type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="javascript:void(0);" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
                            <img class="img-profile rounded-circle" src="{{avatar_url}}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="javascript:void(0);">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Content Row -->
                <!--<form class="navbar-search">
                    <div class="input-group">
                        <input aria-describedby="basic-addon2" aria-label="Search" class="form-control bg-light small"
                               ng-model="repoName" placeholder="Search for Repository..." type="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary" ng-click="fetchRepo()" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="row mt-4">
                    &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;
                    <div class="col-xl-12 col-md-12 mb-4" ng-repeat="eachRepository in lstRepositoryFromApi">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-xl-9 col-md-9 mr-2">
                                        <div class="text-xs font-weight-bold text-primary mb-1">
                                            <svg class="icon malibu-icon fill-near-black nudge-down&#45;&#45;1 mr1" data-test-icon-name="repo-16" data-test-target="malibu-icon"
                                                 style="width: 16px; height: 16px;">
                                                <use xlink:href="#repo-16" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <svg id="repo-16"
                                                         viewBox="0 0 16 16">
                                                        <path d="M6 4v1h1V4H6zm0-2v1h1V2H6zM3 0c-.5 0-1 .5-1 1v12c0 .5.5 1 1 1h2v2l1.5-1.5L8 16v-2h5c.5 0 1-.5 1-1V1c0-.5-.5-1-1-1H3zm9.5 13H8v-1H5v1H3.5c-.266 0-.5-.266-.5-.5V11h10v1.5c0 .25-.234.5-.5.5zM5 10V1h8.016L13 10H5zm1-2v1h1V8H6zm0-2v1h1V6H6z"
                                                              fill-rule="evenodd">

                                                        </path>
                                                    </svg>
                                                    <title></title>
                                                </use>
                                            </svg>
                                            {{eachRepository.full_name}}
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-md-2 mr-2">
                                        <a class="btn btn-secondary btn-icon-split float-right" href="javascript:void(0);" ng-click="connectAndCreateApp(eachRepository)">
                                        <span class="icon text-white-50">
                                          <i class="fab fa-connectdevelop mt-1"></i>
                                        </span>
                                            <span class="text">Connect</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="row">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" ng-model="search" class="form-control" placeholder="Search...."
                                   style="margin-bottom: 1rem;">
                        </div>
                    </form>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th ng-repeat="header in tableHeaders">{{header}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="eachService in services|filter:search|itemsPerPage:10">
                            <td>{{eachService.name}}</td>
                            <td>{{eachService.userName}}</td>
                            <td>
                                <div ng-show="eachService.connected === true" style="color: #b73b2b">
                                    <i aria-hidden="true" class="fa fa-trash trashIcon" ng-click="disconnectGit(eachService.name)" style="cursor: pointer"></i>
                                </div>
                                <div ng-show="eachService.connected === false"
                                     ng-click="connectGit(eachService.name)" style="color: #337ab7">
                                    {{eachService.actions}}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true" template-url="./html/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Connect2Deploy 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" data-href="#page-top" href="javascript:void(0);">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Logout Modal-->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <a class="btn btn-primary" href="javascript:void(0);" ng-click="logoutFunction();">Logout</a>
                </div>
            </div>
        </div>
    </div>

</div>