<div id="repositoryRule">
    <div class="github-linker ember-view">
        <form ng-submit="fetchRepo()">
            <p><b>Search for a repository to connect to</b></p>

            <div class="org-selection">
                <div class="relative">
                    <select tabindex="0" id="idSelectTab" class="hk-select pl5 org-name-select x-select ember-view"
                            style="width: 100%;">
                        <option value="{{userName}}">{{userName}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="repo-selection">
                <!---->
                <div class="flex">
                    <input placeholder="repo-name" id="search-term" ng-model="repoName"
                           class="repo-name-search hk-input br--left flex-auto relative z-1 ember-text-field ember-view"
                           type="search">
                    <button id="searchRepository"
                            class="br--right bl-0 async-button fulfilled hk-button--primary ember-view"
                            type="submit"> Search
                    </button>
                </div>
            </div>


        </form>
        <div class="flex flex-column hk-hide-bb-last-row pt2 hidden" id="repoDialog">

        </div>

        <li id="repoConnectedDialog" class="deploy-github list-group-item ember-view hidden" style="margin-top: 15px">
            <div class="panel-section ">
                <div class="section-description">
                    <div class="section-title f3 purple" role="heading" aria-level="3">
                        Github Repo connected with ForceCI
                    </div>
                </div>

                <div class="panel-content">
                    <ul class="list-group" id="github-is-connected">
                        <li class="list-group-item" ng-repeat="eachData in lstRepositoryData">
                            <div class="ember-view">
                                <div class="github-connection overflow-hidden shadow-outer-1 br2">
                                    <div class="flex pa3 pv2 bg-white items-center">
                                        <span class="flex-auto">
                                          Connected to
                                          <a href="{{eachData.repositoryURL}}" class="hk-link mr1 no-underline">

                                        <svg style="width: 16px; height: 16px;" data-test-target="malibu-icon" data-test-icon-name="repo-16"
                                             class="icon malibu-icon ml--2 fill-blue">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#repo-16">
                                            <title></title>
                                          </use>
                                        </svg>
                                            <span class="underline">{{eachData.repositoryFullName}}</span>
                                          </a>
                                            by
                                            <img src="{{eachData.repositoryOwnerAvatarUrl}}" class="h1 w1 br4 ml1">
                                            <a href="{{eachData.ownerHtmlUrl}}" class="hk-link">{{eachData.owner}}</a>
                                        </span>
                                        <button class="hk-button-sm--danger" type="button" ng-click="disconnectRepo(eachData)">
                                            Disconnect...
                                        </button>
                                    </div>
                                    <div class="panel-heading">
                                        <a for="collapse{{$index}} accordion-toggle" data-toggle="collapse" href="javascript:;" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">Show SFDC
                                            connections</a>
                                        <a href="apps/dashboard/app/{{eachData.repositoryName}}/{{eachData.repositoryId}}" class="hk-button-sm--primary fr" type="button">
                                            Open App
                                        </a>
                                        <div id="collapse{{$index}}" class="collapse mt3 panel-collapse">
                                            <div class="row no-gutters pa3">
                                                <div class="col-6 col-md-4 connectionButton">
                                                    <div>
                                                        <button type="button" class="btn btn-info" ng-click="createNewConnection($index);">Create New Connection</button>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-8 bg-lightest-silver">
                                                        <ul style="padding: 0;">
                                                            <li class="list-group-item" ng-repeat="eachSfdcConnection in eachData.sfdcConnectionDetails">
                                                                <div style="border-bottom: 1px solid gray;">
                                                                    <div class="pointerEvent" ng-click="showDataOnForm(eachSfdcConnection, eachData)">
                                                                        <h2>{{eachSfdcConnection.orgName}}</h2>
                                                                        <p>{{eachSfdcConnection.userName}}</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="col-12 col-sm-6 col-md-8">
                                                    <form>
                                                        <div class="form-group row">
                                                            <label for="inputorgNamel3"
                                                                   class="col-sm-2 col-form-label required">Name</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control"
                                                                       id="inputorgNamel3" placeholder="Name"
                                                                       ng-model="eachData.sfdcOrg.orgName"
                                                                       ng-disabled="eachData.sfdcOrg.disabledForm == 'true'">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="inputenvironment3"
                                                                   class="col-sm-2 col-form-label required">Environment</label>
                                                            <div class="col-sm-10">
                                                                <div class="dropdown bootstrap-select">
                                                                    <select class="form-control" id="inputenvironment3"
                                                                            ng-model="eachData.sfdcOrg.environment"
                                                                            ng-disabled="eachData.sfdcOrg.disabledForm == 'true'">
                                                                        <option value="0" selected>
                                                                            Production/Developer
                                                                        </option>
                                                                        <option value="1">Sandbox</option>
                                                                        <option value="2">Custom Org</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="salesforceLoginl3"
                                                                   class="col-sm-2 col-form-label required">Salesforce
                                                                Login</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control"
                                                                       id="salesforceLoginl3"
                                                                       placeholder="Salesforce userName"
                                                                       ng-model="eachData.sfdcOrg.userName"
                                                                       ng-disabled="eachData.sfdcOrg.disabledForm == 'true'">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row"
                                                             ng-show="eachData.sfdcOrg.environment === '2'">
                                                            <label for="salesforceinstanceURLl3"
                                                                   class="col-sm-2 col-form-label required">Instance
                                                                Url</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control"
                                                                       id="salesforceinstanceURLl3"
                                                                       placeholder="Salesforce Instance Url"
                                                                       ng-model="eachData.sfdcOrg.instanceURL"
                                                                       ng-disabled="eachData.sfdcOrg.disabledForm == 'true'">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="branchNamel3" class="col-sm-2 col-form-label">Branch
                                                                Name</label>
                                                            <div class="col-sm-10">
                                                                <div ng-dropdown-multiselect=""
                                                                     options="eachData.sfdcOrg.multiBranchData"
                                                                     extra-settings="eachData.sfdcOrg.multiExtraSettings"
                                                                     id="branchNamel3"
                                                                     selected-model="eachData.sfdcOrg.multiSelectedBranches"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="form-group">
                                                                <div class="col-sm-10">
                                                                    <button type="button" class="btn btn-primary" ng-click="authorize(eachData, $index);">{{eachData.sfdcOrg.authorize}}</button>
                                                                    <button type="button" class="btn btn-primary" ng-click="saveConnection(eachData, $index);"
                                                                            ng-disabled="eachData.sfdcOrg.oauthSuccess === 'false'">{{eachData.sfdcOrg.save}}
                                                                    </button>
                                                                    <button type="button" class="btn btn-primary" ng-click="testConnection(eachData, $index);"
                                                                            ng-disabled="eachData.sfdcOrg.oauthSuccess === 'false'">{{eachData.sfdcOrg.testConnection}}
                                                                    </button>
                                                                    <button type="button" class="btn btn-primary" ng-click="deleteConnection(eachData, $index);"
                                                                            ng-disabled="eachData.sfdcOrg.oauthSaved === 'false'">
                                                                        {{eachData.sfdcOrg.delete}}
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </div>
</div>