<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#!apps/dashboard">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fab fa-connectdevelop"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Connect 2 Deploy</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#!apps/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo"
               data-toggle="collapse" href="javascript:void(0);">
                <i class="fas fa-fw fa-cog"></i>
                <span>Apps</span>
            </a>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseTwo">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Settings:</h6>
                    <a class="collapse-item" href="#!apps/dashboard/createApp">Manage Apps</a>
                    <a class="collapse-item" href="#!apps/dashboard/scheduledDeployments">Scheduled Deployments</a>
                </div>
            </div>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="javascript:void(0);" id="searchDropdown" role="button">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div aria-labelledby="searchDropdown"
                             class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input aria-describedby="basic-addon2" aria-label="Search"
                                           class="form-control bg-light border-0 small" placeholder="Search for..."
                                           type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="javascript:void(0);" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
                            <img class="img-profile rounded-circle" src="{{avatar_url}}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="javascript:void(0);">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">{{repoName}}</h1>
                <!-- Basic Card Example -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="connections" aria-selected="false" class="nav-link active" data-target="#connections" data-toggle="tab" id="connections-tab" role="tab">SFDC
                            Connections</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="activity" aria-selected="true" class="nav-link" data-target="#activity" data-toggle="tab" id="activity-tab" role="tab">Selective Deployments</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div aria-labelledby="profile-tab" class="tab-pane fade show active" id="connections" role="tabpanel">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Connections available</h6>
                            </div>
                            <div class="card-body">
                                <div class="mb-4">
                                    <a class="btn btn-primary" href="javascript:void(0);" ng-click="createNewConnection();">
                                        <span class="text">Create Connections</span>
                                    </a>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <form>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label required" for="inputorgNamel3">Name</label>
                                            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                <input class="form-control" id="inputorgNamel3" ng-disabled="sfdcOrg.disabledForm == 'true'" ng-model="sfdcOrg.orgName" placeholder="Name"
                                                       type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label required" for="inputenvironment3">Environment</label>
                                            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                <div class="dropdown bootstrap-select">
                                                    <select class="form-control" id="inputenvironment3" ng-disabled="sfdcOrg.disabledForm == 'true'" ng-model="sfdcOrg.environment">
                                                        <option selected value="0">Production/Developer</option>
                                                        <option value="1">Sandbox</option>
                                                        <option value="2">Custom Org</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label required" for="inputTestLevel">Test Level</label>
                                            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                <div class="dropdown bootstrap-select">
                                                    <select class="form-control" id="inputTestLevel" ng-disabled="sfdcOrg.disabledForm == 'true'" ng-model="sfdcOrg.testLevel">
                                                        <option selected value="NoTestRun">NoTestRun</option>
                                                        <option value="RunSpecifiedTests">RunSpecifiedTests</option>
                                                        <option value="RunLocalTests">RunLocalTests</option>
                                                        <option value="RunAllTestsInOrg">RunAllTestsInOrg</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label required" for="salesforceLoginl3">Salesforce Login</label>
                                            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                <input class="form-control" id="salesforceLoginl3" ng-disabled="sfdcOrg.disabledForm == 'true'" ng-model="sfdcOrg.userName"
                                                       placeholder="Salesforce userName" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row" ng-show="sfdcOrg.environment === '2'">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label required" for="salesforceinstanceURLl3">Instance Url</label>
                                            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                <input class="form-control" id="salesforceinstanceURLl3" ng-disabled="sfdcOrg.disabledForm == 'true'" ng-model="sfdcOrg.instanceURL"
                                                       placeholder="Salesforce Instance Url" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label" for="branchNamel3">Branch Name</label>
                                            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                <input class="form-control" id="branchNamel3" ng-keyup="complete()" ng-model="sfdcOrg.branchConnectedTo"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label" for="isActive">Is Active</label>
                                            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                <label class="checkbox">
                                                <input class="form-check-input" id="isActive" ng-model="sfdcOrg.boolActive" style="margin-left: 0 !important;" type="checkbox">
                                                <span class="default"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="form-group">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <button class="btn btn-primary" ng-click="authorize(sfdcOrg);" type="button">{{sfdcOrg.authorize}}</button>
                                                    <button class="btn btn-primary" ng-click="saveConnection(sfdcOrg);" ng-disabled="sfdcOrg.oauthSuccess === 'false'"
                                                            type="button">{{sfdcOrg.save}}
                                                    </button>
                                                    <button class="btn btn-primary" ng-click="testConnection(sfdcOrg);" ng-disabled="sfdcOrg.oauthSuccess === 'false'"
                                                            type="button">{{sfdcOrg.testConnection}}
                                                    </button>
                                                    <button class="btn btn-primary" ng-click="deleteConnection(sfdcOrg);" ng-disabled="sfdcOrg.oauthSaved === 'false'"
                                                            type="button">{{sfdcOrg.delete}}
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-4" ng-repeat="eachSFDCData in lstSFDCConnectionDetails">
                                        <div class="card border-left-primary shadow h-100 py-2" ng-click="showDataOnForm(eachSFDCData)" style="cursor: pointer;">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            {{eachSFDCData.orgName}}
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{eachSFDCData.userName}}</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{eachSFDCData.branchConnectedTo}}</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <input ng-disabled="true" ng-model="eachSFDCData.boolActive" type="checkbox"/>
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800 display-1" ng-hide="true">
                                                            <input ng-disabled="true" ng-model="eachSFDCData.id" type="text"/>
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <a class="btn btn-primary" href="#!apps/dashboard/app/{{repoName}}/{{repoId}}/{{eachSFDCData.branchConnectedTo}}">Deployments</a>
                                                        </div>
                                                        <div class="h5 mb-1 mt-1 font-weight-bold text-gray-800">
                                                            <a class="btn btn-primary" href="javascript:void(0);" ng-click="createSnapshot(eachSFDCData.branchConnectedTo, repoId, $event)">Take Snapshot</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div aria-labelledby="home-tab" class="tab-pane fade" id="activity" role="tabpanel">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Commit Ids based Deployments</h6>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <form class="gitCommitSearch" name="gitSearch" novalidate>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label" for="newBranchName">New Branch</label>
                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                <md-tooltip md-direction="top">Type the name of the new branch you want to create.</md-tooltip>
                                                <input required class="form-control form-text" id="newBranchName" name="newBranchName" ng-model="gitCommitSearch.newBranchName" type="text">
                                            </div>
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label" for="gitHubBranch">Branch From Git</label>
                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                <md-tooltip md-direction="top">Select the branch from which commit ids needs to be extracted.</md-tooltip>
                                                <input required class="form-control" id="gitHubBranch" ng-keyup="complete()" ng-model="gitCommitSearch.branchFromGit"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label" for="gitHubDestinationBranch">Destination Branch</label>
                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                <md-tooltip md-direction="top">Select the branch to which commit ids needs to be pushed.</md-tooltip>
                                                <input required class="form-control" id="gitHubDestinationBranch" ng-keyup="complete()" ng-model="gitCommitSearch.destinationBranch"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label">From Date</label>
                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                <md-content>
                                                    <md-datepicker required ng-model="gitCommitSearch.fromDate"></md-datepicker>
                                                </md-content>
                                            </div>
                                            <label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label">To Date</label>
                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                <md-content>
                                                    <md-datepicker required ng-model="gitCommitSearch.toDate"></md-datepicker>
                                                </md-content>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" ng-click="fetchCommits(gitCommitSearch)" ng-disabled="gitSearch.$invalid" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                            <md-divider/>
                            <div class="card-body">
                                <form class="form-inline" name="initiateCherryPick">
                                    <div class="form-group">
                                        <input class="form-control" ng-model="search" placeholder="Search...." style="margin-bottom: 1rem;"
                                               type="text">
                                    </div>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th ng-repeat="header in tableHeaders" class="rowCheckBox">{{header}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="eachCommitResponse in commitResponse|filter:search|itemsPerPage:20">
                                        <td><input type="checkbox" ng-model="eachCommitResponse.isSelected" ng-change="enableCherryPickButton()"></td>
                                        <td><a href="{{eachCommitResponse.commitURL}}" target="_blank">{{eachCommitResponse.commitId}}</a></td>
                                        <td>{{eachCommitResponse.commitDate}}</td>
                                        <td>{{eachCommitResponse.commitMessage}}</td>
                                        <td>{{eachCommitResponse.committerName}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <dir-pagination-controls boundary-links="true" template-url="./html/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                                    <button class="btn btn-primary" ng-click="selectAndFireCherryPick()" ng-disabled="cherryPickDisable === true" type="submit">Initiate CherryPick</button>
                                </form>
                                <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" ng-show="cherryPickSuccess === true ">
                                    <strong>{{cherryPickSuccessText }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Connect2Deploy 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" data-href="#page-top" href="javascript:void(0);">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Logout Modal-->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <a class="btn btn-primary" href="javascript:void(0);" ng-click="logoutFunction();">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="sessionExpiredModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sessionExpiredModalLabel">Session Expired</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Login again to proceed.</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="javascript:void(0);" ng-click="logoutFunction();">Logout</a>
                </div>
            </div>
        </div>
    </div>

</div>

